
@{
    ViewBag.Title = "Andromeda_Information";
}

<body class="container" style="color:white">
    <h2>Andromeda Galaxy Information</h2>

    <div>
        <h3>What is The Andromeda Galaxy?</h3>
        The Andromeda Galaxy is the closest spiral galaxy to our Milky Way Galaxy.<br>
        It also goes by the names M31 or Messier 31. [<a href="https://www.space.com/15590-andromeda-galaxy-m31.html">REF</a>]
    </div>

    <div>
        <h3>How was The Andromeda Galaxy discovered?</h3>
        The other names come from Charles Messier who wrote about the galaxy that he thought was a nebula. [<a href="https://www.space.com/16686-charles-messier-biography.html">REF</a>]<br>
        Edwin Hubble in the 1920s discovered that Andromeda was much larger than originally thought and helped reclassify Andromeda as a galaxy.<br>
        This started the idea that the universe is filled with more galaxies than just the Milky Way. [<a href="https://apod.nasa.gov/apod/ap960406.html">REF</a>]
    </div>

    <div>
        <h3>How far away is The Andromeda Galaxy?</h3>
        Andromeda is 2.5 million lightyears away. [<a href="https://www.space.com/15590-andromeda-galaxy-m31.html">REF</a>]<br>
        The Andromeda Galaxy has an apparent magnitude(brightness) of 3.6 so it is bright enough to be visible from Earth. [<a href="https://astronomy.swin.edu.au/cms/astro/cosmos/A/Andromeda+galaxy">REF</a>]
    </div>

    <div>
        <h3>How does The Andromeda Galaxy compare to our Milky Way Galaxy?</h3>
        The Andromeda Galaxy is around 222,000 light years across more than double your Milky Way Galaxy at 100,000 light years across. [<a href="https://www.universetoday.com/22821/the-milky-way-and-andromeda/">REF</a>]<br>
        Andromeda also has a higher amount of stars at around 1 trillion stars compared to the around 200-400 billion in the Milky Way. [<a href="http://annesastronomynews.com/photo-gallery-ii/galaxies-clusters/the-andromeda-galaxy-m31/">REF</a>]
    </div>

    <div>
        <h3>What will happen to our galaxies in the future?</h3>
        The Andromeda Galaxy will one day collide with the Milky Way Galaxy. It is estimated that it will happen in around 4 billion years and they will completely merge in around 6 billion years.<br>
        This is something that is common with many galaxies and both the Milky Way and Andromeda show signs of having collided with other galaxies before.[<a href="https://www.space.com/15590-andromeda-galaxy-m31.html">REF</a>]
    </div>

    <div>
        <h3>Other facts about The Andromeda Galaxy</h3>
        In 2017 it was discovered that the Andromeda Galaxy contained two different black holes.<br>
        These were special as they orbit each other at a distance that may only be a couple 100 times the distance between the Earth and Sun.<br>
        Because they are relatively close the two black holes will eventually merge in anywhere from 350 to 360,000 years. [<a href="https://www.nasa.gov/mission_pages/chandra/news/giant-black-hole-pair-photobombs-andromeda-galaxy.html">REF</a>]
    </div>
</body>


<br />
<br />
<br />

<h1 style="color: white; text-align: center">User Comments</h1>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="container information-paragraphs dark-bkr" style="border: 1px solid white; width: 50%">
            <div id="usernameDateBox">
                <p>@item.Username || @item.PostDate.ToShortDateString()</p>
            </div>

            <div id="userCommentBox">
                <p>@item.Comment</p>
            </div>
        </div>
        <br />
    }
}

<br />
<br />
<br />

@if (User.Identity.IsAuthenticated)
{
    <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
        <form>
            <label for="commentBox" style="color: white">Type your comment. (1000 character limit)</label><br />
            <textarea id="commentBox" maxlength="1000" style=" width: 100%; height: 150px; padding: 12px 20px; box-sizing: border-box; border: 2px solid #ccc; border-radius: 4px; background-color: #f8f8f8; font-size: 16px; resize: none; color: black;"></textarea>

            <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
                <button type="button" onclick="submitComment('@ViewBag.URL')" style="color: black;">Submit Your Comment</button>
            </div>
        </form>
    </div>


}
else
{
    <div class="information-paragraphs dark-bkr" style="margin-left: 30%; width: 40%; text-align: center">
        <h2>Please @Html.ActionLink("log in", "Login", "Account") to post a comment!</h2>
    </div>
}

<script src="~/Scripts/main.js"></script>