
@{
    ViewBag.Title = "Stars_Information";
}


<head>
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>


<div class="container information-paragraphs dark-bkr">

    <div style="text-align:center"><h2>Stars</h2></div>

    <div class="row">
        <div class="col-lg-4">
            <div>
                <h3>How are stars created?</h3>
                Stars are formed from dust clouds in the middle of space.<br>
                These clouds of dust can form masses big enough that they are pulled together by gravity.<br>
                Material at the center of the cloud becomes hotter and eventually creates a protostar, eventually this protostar will become a full star.[<a href="https://science.nasa.gov/astrophysics/focus-areas/how-do-stars-form-and-evolve">REF</a>]<br>

            </div>


            <div>
                <h3>How many stars can we see from Earth</h3>
                The number of stars that could be visible from earth is around 10,000.<br>
                This number is closer to 5,000 possibly visible at one time due to only half of the Earth being at nightime at any given moment.<br>
                You may see more or less depending on things like the strength of your eyesight, the amount of light in the area around you, and the condition of the sky.[<a href="https://earthsky.org/astronomy-essentials/how-many-stars-could-you-see-on-a-clear-moonless-night">REF</a>]<br>
            </div>
        </div>


        <div class="col-lg-7">
            <div class="row" style="height:30px;">

            </div>

            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Starsinthesky.jpg/640px-Starsinthesky.jpg" alt="Alternate Text" />
        </div>
    </div>

    <div>
        <h3>How many stars are there?</h3>
        In our solar system there is only one star which is our very own Sun.<br>
        There has been debate of a second star called Nemesis that exists on the edge of our solar system that is theorized to appear every 32 million years but this has yet to be proven.[<a href="https://www.planetsforkids.org/how-many-stars-are-in-the-solar-system.html">REF</a>]<br>
        The current estimate for the number of stars in our own Milky Way galaxy varies wildly from about 1 billion to 4 billion.[<a href="https://asd.gsfc.nasa.gov/blueshift/index.php/2015/07/22/how-many-stars-in-the-milky-way/">REF</a>]<br>
        The current estimate for the amount of stars in the universe is around 1 septillion/quadrillion but there is most likely many more than this.[<a href="https://www.space.com/26078-how-many-stars-are-there.html">REF</a>]
        <span class="tooltipNew">
            [*]<br>
            <span class="tooltiptextNew">
                For perspective 1 septillion/quadrillion can also be written as 1,000,000,000,000,000,000,000,000.
            </span>
        </span><br />
        This is because it is very difficult to accurately count or estimate the amount of stars our galaxy or universe has due to the large amount of them.

    </div>




    <div>
        <h3>What types of stars are there?</h3>
        These are a couple examples of different types of stars.<br>
        All information in this section is from [<a href="https://www.universetoday.com/24299/types-of-stars/amp/">HERE</a>] unless specified.<br><br>

        <div class="row" style="height:20px;">

        </div>

        <div style="background-color:black" class="row">

            <div class="col-lg-3">

                <div class="infoItem">
                    <button class="btn-primary" onclick="starsChangeInfo(
                    'https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Structure_of_Stars_%28artist%E2%80%99s_impression%29.jpg/636px-Structure_of_Stars_%28artist%E2%80%99s_impression%29.jpg',
                    'https://commons.wikimedia.org/wiki/File:Structure_of_Stars_(artist%E2%80%99s_impression).jpg',
                     'Happens when a star runs out of hydrogen in its core. It will start to burn the outer layer of hydrogen around the star.This makes the star increase in size up to 100 times larger than its original size.It can also run off of other elements such as helium until it runs out of fuel in a few hundred million years.These eventually become white dwarfs.'
                    )">
                        Red Giant
                    </button>
                </div>


                <div class="infoItem">
                    <button class="btn-primary" onclick="starsChangeInfo(
                      'https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/White_dwarf_LSPM_J0207%2B3331.jpg/640px-White_dwarf_LSPM_J0207%2B3331.jpg',
                       'https://commons.wikimedia.org/wiki/File:White_dwarf_LSPM_J0207%2B3331.jpg',
                     'Happens when a red giant runs out of hydrogen to fuel itself. It will drastically decrease in size under the force of gravity.It will cool down over a period of hundreds of billions of years.')">
                        White Dwarf
                    </button>
                </div>



                <div class="infoItem">
                    <button class="btn-primary" onclick="starsChangeInfo(
                     'https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/RedDwarfNASA.jpg/777px-RedDwarfNASA.jpg',
                      'https://en.wikipedia.org/wiki/File:RedDwarfNASA.jpg',
                       'These are the majority of stars in our galaxy. These are stars that are like our Sun but have a much lower mass between .075 to half of our Sun. They are much cooler than our Sun but can burn for much longer up to 10 trillion years.' )">
                        Red Dwarf
                    </button>
                </div>


                <div class="infoItem">
                    <button class="btn-primary" onclick="starsChangeInfo(
                         'https://upload.wikimedia.org/wikipedia/commons/c/c5/Neutron_Star.jpg',
                         'https://commons.wikimedia.org/wiki/File:Neutron_Star.jpg',
                          'Stars that are between 1.35 to 2.1 times the mass of our Sun take a different path. Instead of becoming a white dwarf they instead explode into a supernova and leave behind their core called a neutron star. These stars are mostly made up of neutrons.  If the stars are large enough they may become a black hole instead.')">
                        Neutron Star
                    </button>
                </div>


                <div class="infoItem">
                    <button class="btn-primary" onclick="starsChangeInfo(
                         'https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/VX_Sagittarii_Red_Supergiant_Star.png/800px-VX_Sagittarii_Red_Supergiant_Star.png',
                         'https://commons.wikimedia.org/wiki/File:VX_Sagittarii_Red_Supergiant_Star.png',
                          'These are stars that are much larger than our sun up to a dozen times. They burn fuel much faster than our sun and will consume their fuel in around a few million years.')">
                        Supergiant Star
                    </button>
                </div>

            </div>


            <div class="col-lg-7">
                <div>
                    <img style="height:50%;width:50%; display: block; margin-left: auto; margin-right: auto;" id="starsTypesImage" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Structure_of_Stars_%28artist%E2%80%99s_impression%29.jpg/636px-Structure_of_Stars_%28artist%E2%80%99s_impression%29.jpg" alt="Alternate Text" />
                </div>

                <div>
                    <a id="starsTypesSource" href="https://commons.wikimedia.org/wiki/File:Structure_of_Stars_(artist%E2%80%99s_impression).jpg">Source</a>
                </div>

                <div id="starsTypesInfo">
                    For a long time up until the 16th century it was widely regarded that Earth was the center of the Solar System until the Polish astronomer Nicolai Copernicus wrote a model that described why the Sun must be the center of our Solar System.[<a href="http://www.nmspacemuseum.org/halloffame/detail.php?id=123">REF</a>]<br>
                </div>


            </div>

        </div>




    </div>

    <div style="height:700px">
        <h3>What are some exmaples of well-known stars?</h3>
        All information in this section is from [<a href="https://www.universetoday.com/45775/famous-stars/">HERE</a>] unless specified.<br><br>


        <div style="width:50%;" class="container">



            <div id="starCarousel" class="carousel slide" data-ride="carousel" data-interval="15000" style="height:500px">



                <div class="carousel-inner" style="text-align:center">
                    <div class="item active">
                        <h4>Polaris</h4>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Polaris_alpha_ursae_minoris.jpg/800px-Polaris_alpha_ursae_minoris.jpg" alt="Polaris" style="width:100%;" />

                        Also known as the North Star.<br>
                        Close to the north pole.<br>
                        Used as a tool for navigation for centuries.
                    </div>

                    <div class="item">
                        <h4>Sirius</h4>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c9/Sirius_A_and_B_artwork.jpg" alt="Sirius" style="width:100%;">

                        The brightest star in the night sky and in the Canis Major constellation.<br>
                        This is due to its close distance and brightness.<br>
                        It is an important part of some cultures.<br>
                        Ancient Egyptians saw it as a sign that the Nile River was close to flooding.<br>
                        The Greeks saw it as a sign that the “dog days of summer” would be close to starting.<br>
                        The Polynesians saw it as a sign of winter.
                    </div>

                    <div class="item">
                        <h4>Alpha Centauri System</h4>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Alpha%2C_Beta_and_Proxima_Centauri_%281%29.jpg/800px-Alpha%2C_Beta_and_Proxima_Centauri_%281%29.jpg" alt="Alpha Centauri System" style="width:100%;">

                        It is the closest star system at about 4 lightyears away.<br>
                        Made up of the stars Alpha Centauri A, Alpha Centauri B, and Proxima Centauri.<br>
                        The red circle shows the location of Proxima Centauri.
                    </div>

                    <div class="item">
                        <h4>Betelgeuse</h4>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Betelgeuse_captured_by_ALMA.jpg/768px-Betelgeuse_captured_by_ALMA.jpg" alt="Betelgeuse" style="width:100%; height:20%">

                        It is a red supergiant that is one of the largest and brightest stars in the night sky.<br>
                        When it goes supernova it will be visible from earth.<br><br>
                    </div>

                    <div class="item">
                        <h4> Vega</h4>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Vega_-_star_in_Lyra.png/800px-Vega_-_star_in_Lyra.png" alt="Vega" style="width:100%;">

                        A blue star in the Lyra constellation.<br>
                        It is one of the first stars to be photographed.<br>
                        It was also one of the first stars to have its spectrum recorded and distance measured.<br>
                        It is used as a baseline to calibrate the photometric brightness scale.<br>
                        Vega has played such an important part in the study of stats that it is quoted by some to be “arguably the next most important star in the sky after the Sun”.

                    </div>
                </div>




                <a class="left carousel-control" href="#starCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#starCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>





    </div>
    <button class="btn-primary" onclick="showDiv('starSources')">Click to show the sources of these images</button>
    <div id="starSources" style="display:none">
        <ol>
            <li>Polaris: <a href="https://commons.wikimedia.org/wiki/File:Polaris_alpha_ursae_minoris.jpg">Source</a></li>
            <li>Sirius: <a href="https://commons.wikimedia.org/wiki/File:Sirius_A_and_B_artwork.jpg">Source</a></li>
            <li>Alpha Centauri System: <a href="https://commons.wikimedia.org/wiki/File:Alpha,_Beta_and_Proxima_Centauri_(1).jpg">Source</a></li>
            <li>Betelgeuse: <a href="https://commons.wikimedia.org/wiki/File:Betelgeuse_captured_by_ALMA.jpg">Source</a></li>
            <li>Vega: <a href="https://commons.wikimedia.org/wiki/File:Vega_-_star_in_Lyra.png">Source</a></li>
        </ol>
    </div>

    <div class="row" style="height:20px;">

    </div>

    <div class="row">
        <h3>What are binary/multistar systems?</h3>
        All information in this section is from [<a href="https://www.universetoday.com/132154/multiple-star-systems/">HERE</a>] unless specified.<br><br>
        <div class="col-lg-4">

            These happen when two or more stars orbit each other.<br>
            Around ⅓ of the star systems in the Milky way are multi star systems.<br>
            Can be anywhere from two stars in a system to seven stars.<br>
            Stars that are close enough can share material with one another.<br>
            If one of the stars is a red giant it can either pass material to its partner or engulf it depending on the size of the red giant and the distance between the stars.
            Binary neutron stars will eventually collide and form black holes.<br>
            A special kind of system is a Thorne-Zytkow object which is a red giant that is near binary neutron stars.
            The neutron stars will go into the red giant either turning into a black hole and absorbing the red giant or becoming a larger neutron star.
            <span class="tooltipNew">
                [*]<br>
                <span class="tooltiptextNew">
                    This kind of event is only known to have happened once.
                </span>
            </span><br>


        </div>

        <div class="col-lg-6">
            <img src="https://www.lanl.gov/org/ddste/aldsc/computer-computational-statistical-sciences/computational-physics-methods/_assets/images/fig110-700x336.jpg" alt="Binary Star System" />
            <a href="https://www.lanl.gov/org/ddste/aldsc/computer-computational-statistical-sciences/computational-physics-methods/highlights/compact-remnant-neutron-star-merger.php">Source</a>
        </div>
    </div>


    <div class="row" style="height:20px;">

    </div>



    <div>
        <h3>Lifecycle of a Star</h3>
        All information in this section is from [<a href="https://www.universetoday.com/24299/types-of-stars/amp/">HERE</a>] unless specified.<br>
        The image below is a diagram of the lifecyle of stars. <a href="https://commons.wikimedia.org/wiki/File:Star_Life_Cycle_Chart.jpg">Source</a><br><br>

        An average sized star will follow this cycle.
        <ol>
            <li>It will eventually run out of hydrogen in its core and start burning hydrogen on the outside of the star.</li>
            <li>The star will expand massively into a red giant.</li>
            <li>The star will still contain many of the same elements like hydrogen and helium but eventually burn through them.</li>
            <li>When the red giant runs out of fuel it will condense into a white dwarf.</li>
            <li>This is made up of heavier elements that the star can no longer use as fuel due to its size.</li>
        </ol>

        A much larger sized star will follow this cycle.
        <ol>
            <li>It will eventually turn into a red giant.</li>
            <li>The star will then release a massive supernova explosion leaving behind a neutron star.</li>
            <li>These stars are mostly made up of neutrons because protons and electrons have been crushed into neutrons due to the intense gravity they have.</li>
            <li>If the star is massive enough the neutron star may condense itself into a black hole.</li>
        </ol>

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Star_Life_Cycle_Chart.jpg/1024px-Star_Life_Cycle_Chart.jpg" alt="A diagram of a star's lifecylce" />


    </div>
</div>

<br />
<br />
<br />

<h1 style="color: white; text-align: center">User Comments</h1>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="container information-paragraphs dark-bkr" style="border: 1px solid white; width: 50%">
            <div id="usernameDateBox">
                <p>@item.Username || @item.PostDate.ToShortDateString()</p>
            </div>

            <div id="userCommentBox">
                <p>@item.Comment</p>
            </div>
        </div>
        <br />
    }
}

<br />
<br />
<br />

@if (User.Identity.IsAuthenticated)
{
    <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
        <form>
            <label for="commentBox" style="color: white">Type your comment. (1000 character limit)</label><br />
            <textarea id="commentBox" maxlength="1000" style=" width: 100%; height: 150px; padding: 12px 20px; box-sizing: border-box; border: 2px solid #ccc; border-radius: 4px; background-color: #f8f8f8; font-size: 16px; resize: none; color: black;"></textarea>

            <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
                <button type="button" onclick="submitComment('@ViewBag.URL')" style="color: black;">Submit Your Comment</button>
            </div>
        </form>
    </div>


}
else
{
    <div class="information-paragraphs dark-bkr" style="margin-left: 30%; width: 40%; text-align: center">
        <h2>Please @Html.ActionLink("log in", "Login", "Account") to post a comment!</h2>
    </div>
}

<script src="~/Scripts/main.js">
</script>

