@model IEnumerable<Astronomical_Learning.Models.Project>

@{
    ViewBag.Title = "ReviewProjects";
}

    <div class="information-paragraphs dark-bkr">
        <div style="text-align:center"><h2>Review Comments for Approval</h2></div>

        @if (Model != null)
        {
            foreach (var item in Model)
            {
    <div class="homepageCard" style="height:50%;width:50%; display: block; margin-left: auto; margin-right: auto;">
        <h2 style="text-align:center">@Html.DisplayFor(modelItem => item.Title)</h2>  
        <button type="button" style="color: black;" onclick="acceptProject(@item.Id)">Accept Project</button>
        <button type="button" style="color: black;" onclick="deleteProject(@item.Id)">Delete Project</button>
        <div class="row" style="text-align:center"> Posted by @Html.DisplayFor(modelItem => item.Username) Posted on  @Html.DisplayFor(modelItem => item.PostDate)</div>
        <hr />
        <div style="text-align:center">@Html.DisplayFor(modelItem => item.Description)</div>
    </div>
                <br />

               

                <br />
            }
        }
    </div>

<script src="~/Scripts/main.js">
</script>

<script src="~/Scripts/adminFunctions.js">
</script>