@{
    ViewBag.Title = "Home Page";
}


<div class="information-paragraphs home-bkr">
    <div class="row text-center">
        <h2>Solar System</h2>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <h3>The Sun</h3>
            <img class="rotate-icon" src="~/Images/icons/sun-icon.png" />
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <p>
                        Learn more about the ball in the center of the Solar System that lights up all of our days.
                    </p>
                    <a href="~/SolarSystem/Sun_Information">Learn More</a> <!-- Eventually make this into a button and do so for other 'Learn More' links-->
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <h3>The Moon</h3>
            <img class="moon-gif" src="~/Images/m1.png" id="moon-icon" />
            <img class="moon-gif active" src="~/Images/icons/moon-icon.gif" />
            <br />
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <p>
                        Learn more about that big white sphere in the night sky.
                    </p>
                    <a href="~/SolarSystem/Moon_Information">Learn More</a>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <h3>Our Planets</h3>
            <img class="planets-gif" src="~/Images/icons/28.png" id="planet-icon" />
            <img class="planets-gif active" src="~/Images/icons/planets-expand.gif" />
            <div class="row">
                <div class="col-lg-1 col-md-2 col-sm-2 col-xs-1"></div>
                <div class="col-lg-10 col-md-8 col-sm-8 col-xs-10">
                    Learn more about the planets and dwarf planets that are in our solar system.
                </div>
            </div>
            <p>
                <a href="~/SolarSystem/Our_Planets">Learn More</a>
            </p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-2 "></div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <h3>Space Debris</h3>
            <img class="sd-gif" src="~/Images/icons/1.png" id="sd-icon" />
            <img class="sd-gif active" src="~/Images/icons/sd-icon.gif" />
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    Learn more about the debris travelling in space, Asteroids, Comets and Meteoroids. <a href="~/SolarSystem/SpaceDebris_Information">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <h3>Research on Mars</h3>
            <img class="sd-gif" src="~/Images/icons/35.png" id="mars-icon" />
            <img class="sd-gif active" src="~/Images/icons/mars-icon.gif" />
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <p>
                        Get more details on the planet, Mars.
                    </p>
                    <a href="~/SolarSystem/Mars_Research">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <h2>Outside Our Solar System</h2>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <h3>The Milky Way</h3>
            <img class="rotate-icon" src="~/Images/icons/spiral-one.png" />
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <p>
                        Learn more about the galaxy in which Earth resides.
                    </p>
                    <a href="~/OuterSystem/MilkyWay_Information">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <h3>Andromeda</h3>
            <img class="rotate-icon" src="~/Images/icons/spiral-two.png" />
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <p>
                        Learn more about our closest galactic neighbor.
                    </p>
                    <a href="~/OuterSystem/Andromeda_Information">Learn More</a>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <h3>Stars</h3>
            <img class="sd-gif" src="~/Images/icons/25.png" id="star-icon" />
            <img class="sd-gif active" src="~/Images/icons/stars.gif" />
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <p>
                        Learn more about the lights in the night sky.
                    </p>
                    <a href="~/OuterSystem/Stars_Information">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row text-center">
        <h2>Space Companies</h2>
        <div class="col-lg-2"></div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <h3>SpaceX</h3>
            <img class="rocket-icon" src="~/Images/icons/spacex-rocket-icon.png" />
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <p>
                        Learn more about launches conducted by SpaceX.
                    </p>
                    @Html.ActionLink("Learn More", "SpaceXLaunches", "SpaceCompanies")
                    <br />
                    <p>
                        Learn more about SpaceX and its missions.
                    </p>
                    <br />
                    @Html.ActionLink("Learn More", "SpaceX", "SpaceCompanies")
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <h3>NASA</h3>
            <img class="rocket-icon" src="~/Images/icons/nasa-rocket-icon.png" />
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <p>
                        Learn more about NASA's past missions.
                    </p>
                    <br />
                    @Html.ActionLink("Learn More", "NASAMissions", "SpaceCompanies")
                    <br />
                    <p>
                        Learn more about NASA as a U.S. federal agency.
                    </p>
                    @Html.ActionLink("Learn More", "NASA", "SpaceCompanies")
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <h2 class="text-center">Features Coming Soon!</h2>
            <div class="col-lg-4">
                <h4>International Space Station</h4>
                <div>
                    Learn more about one of mankinds greatest collaborative engineering feats. @Html.ActionLink("Learn More", "InternationalSpaceStation", "ISS")
                </div>
                <br />
                <h4>Space Suits and Flight Suits</h4>
                <div>
                    Learn more about the vital equipment that keeps astronauts safe in space and during space travel. @Html.ActionLink("Learn More", "SpaceAndFlightSuits", "SpaceSuits")
                </div>
            </div>
            <div class="col-lg-4">
                <h4>Kuiper Belt</h4>
                <div>
                    Learn more about the icy region of space beyond Neptune's orbit. @Html.ActionLink("Learn More", "KuiperBelt", "SolarSystem")
                </div>
                <br />
                <h4>Interstellar Space</h4>
                <div>
                    Learn more about space beyond the influence of our Sun's magnetic field. @Html.ActionLink("Learn More", "Interstellar_Space", "OuterSystem")
                </div>
            </div>
            <div class="col-lg-4">
                <h4>Star Constellations</h4>
                <div>
                    Learn more about the star constellations that been seen in our night sky. @Html.ActionLink("Learn More", "Stars_Constellations", "OuterSystem")
                </div>
            </div>
        </div>
    </div>
</div>
