@{
    ViewBag.Title = "Our_Planets";
}

<div class="container-fluid planets-btn-grp">
    <div class="btn-group btn-group-justified" role="group">
        <a href="#" class="btn planets-btn active" data-target="#planets-carousel" data-slide-to="0">Mercury</a>
        <a href="#" class="btn planets-btn" data-target="#planets-carousel" data-slide-to="1">Venus</a>
        <a href="#" class="btn planets-btn" data-target="#planets-carousel" data-slide-to="2">Earth</a>
        <a href="#" class="btn planets-btn" data-target="#planets-carousel" data-slide-to="3">Mars</a>
        <a href="#" class="btn planets-btn" data-target="#planets-carousel" data-slide-to="4">Jupiter</a>
        <a href="#" class="btn planets-btn" data-target="#planets-carousel" data-slide-to="5">Saturn</a>
        <a href="#" class="btn planets-btn" data-target="#planets-carousel" data-slide-to="6">Uranus</a>
        <a href="#" class="btn planets-btn" data-target="#planets-carousel" data-slide-to="7">Neptune</a>
        <a href="#" class="btn planets-btn" data-target="#planets-carousel" data-slide-to="8">Dwarf Planets</a>
    </div>
</div>

<div class="container-fluid carousel-container">
    <div id="planets-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-lg-6">
                        <p class=" text-center planet-name">Mercury</p>
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-5 white-txt">
                                <p>Closest to Sun: 29 million miles</p>
                                <p>Furthest from Sun: 43 million miles</p>
                                <p>Average distance from Sun: 36 million miles</p>
                                <p>Radius in Miles: 1,516</p>
                            </div>
                            <div class="col-lg-5 get-right white-txt">
                                <p>Day Length: 59 Earth days</p>
                                <p>Year Length: 88 Earth Days</p>
                                <p>Planet Type: Terrestrial</p>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                <p class="planet-sub">Composition</p>
                                <p class="planet-paragraph">
                                    Mercury is a terrestrial planet. It has a rocky mantle along with a solid crust.
                                    Scientists and researchers have found that the surface of Mercury is very much like Earth's moon.
                                    At Mercury's hottest, it can have a temperature of 800&#xb0;F and at its coldest, Mercury can drop to -290&#xb0;F.
                                    [<a href="https://solarsystem.nasa.gov/planets/mercury/overview/">REF</a>]
                                </p>
                                <p class="planet-sub">Atmosphere</p>
                                <p class="planet-paragraph">Mercury has almost no atmosphere, but it does have an exosphere made of oxygen, sodium, hydrogen, and potassium. [<a href="https://solarsystem.nasa.gov/planets/mercury/overview/">REF</a>]
                                <p class="planet-sub">
                                    Fun Facts
                                </p>
                                <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="top" data-content="Mercury is the fastest planet in the solar system.">
                                    Fast!
                                </button>
                                <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="top" data-content="Mercury is the closest planet to the sun.">
                                    Super Close
                                </button>
                                <p></p>
                                <p class="planet-sub">History</p>
                                <p class="planet-paragraph">
                                    The name "Mercury" comes from the Ancient Romans after a Roman god. Mercury had wings
                                    on his helmet as well as on his shoes in order to move quickly from one place to another.
                                    [<a href="https://solarsystem.nasa.gov/planets/mercury/overview/">REF</a>]
                                </p>
                                <p><i class="white-txt">Image by: </i><a href="https://solarsystem.nasa.gov/resources/439/mercurys-subtle-colors/?category=planets_mercury">NASA</a></p>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div>
                            <img src="~/Images/Planets/merc.jpg" class="planet-img" />
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-lg-6">
                        <p class=" text-center planet-name">Venus</p>
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-5 white-txt">
                                <p>Average distance from Sun: 67 million miles or 108 million km</p>
                                <p>Radius in miles: 3760</p>
                                <p>Radius in km: 6052</p>
                            </div>
                            <div class="col-lg-5 get-right white-txt">
                                <p>Day Length: 243 Earth days</p>
                                <p>Year Length: 225 Earth Days</p>
                                <p>Planet Type: Terrestrial</p>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                <p class="planet-sub">Composition</p>
                                <p class="planet-paragraph">
                                    Venus is terrestrial planet. It has mountins and a thousands of volcanoes. Venus is considered a very birhgt planet
                                    because its clouds reflect so much sunlight. [<a href="https://solarsystem.nasa.gov/planets/venus/in-depth/">REF</a>]
                                </p>
                                <p class="planet-sub">Atmosphere</p>
                                <p class="planet-paragraph">
                                    Venus has a very thick atmosphere made up of carbon dioxide and sulfuric acid. With a thick atmosphere that traps in a lot of heat,
                                    Venus is often very hot. It can reach up to temperatures of 880&#xb0;F [<a href="https://solarsystem.nasa.gov/planets/venus/in-depth/">REF</a>]
                                </p>
                                <p class="planet-sub">Unique Feature(s)</p>
                                <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="Maxwell Montes - a mountain that is approximately 20,000 feet high. The height of this mountain is very close to Earth's own Mt. Everest.">
                                    Maxwell Montes
                                </button>
                                <p></p>
                                <p class="planet-sub">
                                    Fun Facts
                                </p>
                                <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="top" data-content="Venus' day is longer than its own year.">
                                    Long
                                </button>
                                <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="top" data-content="Venus is the hottest planet in our solar system!">
                                    Sizzling
                                </button>
                                <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="top" data-content="Venus is the closest planet to Earth. Get close planet-buddy!">
                                    Buddies
                                </button>
                                <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="top" data-content="Almost all features of Venus are named after women.">
                                    Women
                                </button>
                                <p></p>
                                <p class="planet-sub">History</p>
                                <p class="planet-paragraph">
                                    The name "Venus" comes from the Ancient Romans after a Roman god. Venus is the Goddess of love and beauty.
                                    The Ancient Greeks refer Venus as Aphrodite. [<a href="https://solarsystem.nasa.gov/planets/venus/in-depth/">REF</a>]
                                </p>
                                <p><i class="white-txt">Image by: </i><a href="https://solarsystem.nasa.gov/resources/775/venus-computer-simulated-global-view-of-the-northern-hemisphere/?category=planets_venus">NASA</a></p>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div>
                            <img src="~/Images/Planets/Venus.jpg" class="planet-img" />
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-lg-6">
                        <p class=" text-center planet-name">Earth</p>
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-5 white-txt">
                                <p>Average distance from Sun: 93 million miles or 150 million km</p>
                                <p>Radius in miles: 3959</p>
                                <p>Radius in km: 6371</p>
                            </div>
                            <div class="col-lg-5 get-right white-txt">
                                <p>Day Length: 24 hours</p>
                                <p>Year Length: 365 days</p>
                                <p>Planet Type: Terrestrial</p>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                <p class="planet-sub">Composition</p>
                                <p class="planet-paragraph">
                                    Earth is a terrestrial planet. Inhabited with many different species, Earth's surface is a basic composition of water and land.
                                </p>
                                <p class="planet-sub">Atmosphere</p>
                                <p class="planet-paragraph">
                                    Earth's atmosphere is made up of mainly nitrogen and oxygen. The atmosphere shields us from radition. [<a href="https://solarsystem.nasa.gov/planets/earth/in-depth/">REF</a>]
                                </p>
                                <p class="planet-sub">
                                    Unique Features
                                </p>
                                <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="Earth is the only planet, within our solar system, with liquid water.">
                                    Water
                                </button>
                                <p></p>
                                <p class="planet-sub">
                                    Fun Facts
                                </p>
                                <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="top" data-content="Earth is the only planet, within our solar system, with a single moon.">
                                    So lonely
                                </button>
                                <p></p>
                                <p class="planet-sub">History</p>
                                <p class="planet-paragraph">
                                    The name "Earth" is roughly 1000 years old. Earth is a germanic word with the original meaning of "the ground." [<a href="https://solarsystem.nasa.gov/planets/earth/in-depth/">REF</a>]
                                </p>
                                <p><i class="white-txt">Image by: </i><a href="https://www.nasa.gov/topics/earth/images/index.html">NASA</a></p>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div>
                            <img src="~/Images/Planets/ert.jpg" class="planet-img" />
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-lg-6">
                        <p class=" text-center planet-name">Mars</p>
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-5 white-txt">
                                <p>Average distance from Sun: 142 million miles or 228 million km</p>
                                <p>Radius in miles: 2106</p>
                                <p>Radius in km: 3390</p>
                            </div>
                            <div class="col-lg-5 get-right white-txt">
                                <p>Day Length: 24.5 hours</p>
                                <p>Year Length: 687 Earth Days</p>
                                <p>Planet Type: Terrestrial</p>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                <p class="planet-sub">Composition</p>
                                <p class="planet-paragraph">
                                    Mars is terrestrial planet. It's core is dense, made up of iron, nickel and sulfur. As for the crust, the crust is made of iron, magnesium, aluminum, calcium, and potassium.
                                    Mars also has a lot of impact craters from meteors and asteroids. As a result of being a dusty planet, Mars
                                    has dust storms frequently. [<a href="https://solarsystem.nasa.gov/planets/mars/in-depth/">REF</a>]
                                </p>
                                <p class="planet-sub">Atmosphere</p>
                                <p class="planet-paragraph">
                                    Mars has a very thin atmosphere made up of mainly carbon dioxide, nitrogen, and argon. Since it has such a thin atmosphere and can't trap its heat,
                                    Mars can reach high temperatures of 70&#xb0;F and low temperatures of -225&#xb0;F. [<a href="https://solarsystem.nasa.gov/planets/mars/in-depth/">REF</a>]
                                </p>
                                <p class="planet-sub">
                                    Unique Features
                                </p>
                                <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="Mars has two moons: Phobos and Deimos.">
                                    Moons
                                </button>
                                <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="Olympus Mons: largest volcano in the solar system.">
                                    Volcano
                                </button>
                                <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="Valles Marineris: the canyon of Mars.">
                                    Canyon
                                </button>
                                <p></p>
                                <p class="planet-sub">
                                    Fun Facts
                                </p>
                                <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="top" data-content="6 spacecraft are currently orbiting Mars.">
                                    Surround Me
                                </button>
                                <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="top" data-content="Olympus Mons is 3 times taller than Mt. Everest.">
                                    Super Tall
                                </button>
                                <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="top" data-content="Valles Marineris is 10 times bigger than Earth's Grand Canyon.">
                                    Super Wide
                                </button>
                                <p></p>
                                <p class="planet-sub">History</p>
                                <p class="planet-paragraph">
                                    The name "Mars" comes from the Ancient Romans after Mars, the god of war. In Ancient Egypt,
                                    Mars would be referred to as "Her Desher" or "the Red One." [<a href="https://solarsystem.nasa.gov/planets/mars/overview/">REF</a>]
                                </p>
                                <p><i class="white-txt">Image by: </i><a href="https://fr.wikipedia.org/wiki/Fichier:PlanetMars-VallesMarineris-VikingOrbiter-1980.jpg">Wikipedia</a></p>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <div class="text-center">
                            <a class="btn" id="more-mars-btn" href="~/SolarSystem/Mars_Research">More of Mars</a>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div>
                            <img src="~/Images/Planets/mars.jpg" class="planet-img" />
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-lg-6">
                        <p class=" text-center planet-name">Jupiter</p>
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-5 white-txt">
                                <p>Average distance from Sun: 484 million miles or 778 million km</p>
                                <p>Radius in miles: 43440.7 </p>
                                <p>Radius in km: 69911</p>
                            </div>
                            <div class="col-lg-5 get-right white-txt">
                                <p>Day Length: 10 hours</p>
                                <p>Year Length: 12 Earth Years</p>
                                <p>Planet Type: Gas Giant</p>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                <p class="planet-sub">Composition</p>
                                <p class="planet-paragraph">
                                    Jupiter is a Gas Giant. Scientists and researchers currently do not know the surface features of Jupiter. [<a href="https://solarsystem.nasa.gov/planets/jupiter/in-depth/">REF</a>]

                                </p>
                                <p class="planet-sub">Atmosphere</p>
                                <p class="planet-paragraph">
                                    Jupiter's atmosphere is mainly made up of hydrogen and helium. [<a href="https://solarsystem.nasa.gov/planets/jupiter/overview/">REF</a>]

                                </p>
                                <p class="planet-sub">
                                    Unique Features
                                </p>
                                <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="'The Red Spot': a giant storm on Jupiter that is bigger than Earth">
                                    Spotted
                                </button>
                                <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="Jupiter has very distinct stripes.">
                                    Striped
                                </button>
                                <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="There are at least 75 confirmed moons that orbit Jupiter. Some of the largest moons are Io, Europa, and Ganymede Calisto.">
                                    Moons
                                </button>
                                <p></p>
                                <p class="planet-sub">
                                    Fun Facts
                                </p>
                                <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="top" data-content="Jupiter is the largest planet in our solar system.">
                                    Extra Large
                                </button>
                                <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="top" data-content="Jupiter is more than twice the size of all our planets combined.">
                                    Volume
                                </button>
                                <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="top" data-content="Jupiter also has rings but they are not as distinct as Saturn.">
                                    Faint
                                </button>
                                <p></p>
                                <p class="planet-sub">History</p>
                                <p class="planet-paragraph">
                                    The name "Jupiter" comes from the Ancient Romans, which is the god of sky and thunder. [<a href="https://solarsystem.nasa.gov/planets/jupiter/in-depth/">REF</a>]
                                </p>
                                <p><i class="white-txt">Image by: </i><a href="https://solarsystem.nasa.gov/resources/11634/jupiters-great-red-spot-in-cassini-image/?category=planets_jupiter">NASA</a></p>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <img src="~/Images/Planets/jup.jpg" class="planet-img" />
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-lg-6">
                        <p class=" text-center planet-name">Saturn</p>
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-5 white-txt">
                                <p>Average distance from Sun: 886 million miles or 1.4 billion km</p>
                                <p>Radius in miles: 36183.7</p>
                                <p>Radius in km: 58232.02</p>
                            </div>
                            <div class="col-lg-5 get-right white-txt">
                                <p>Day Length: 10.7 hours</p>
                                <p>Year Length: 29 Earth Years</p>
                                <p>Planet Type: Gas Giant</p>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                <p class="planet-sub">Composition</p>
                                <p class="planet-paragraph">
                                    Saturn is a Gas Giant that is made mostly of hydrogen and helium. Saturn has a dense core of metals like iron and nickel,
                                    but also is rocky. The surface of Saturn is extremely pressurized, but it is not solid. [<a href="https://solarsystem.nasa.gov/planets/saturn/in-depth/">REF</a>]
                                </p>
                                <p class="planet-sub">
                                    Unique Features
                                </p>
                                <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="Saturn has 53 confirmed moons, one of them being Titan.">
                                    Moons
                                </button>
                                <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="Saturn's Rings: a very prominent feature of Saturn made up of ice, rock, dust, and pieces of comets and asteroids.">
                                    Rings
                                </button>
                                <p></p>
                                <p class="planet-sub">
                                    Fun Facts
                                </p>
                                <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="top" data-content="Two tons of Saturn's mass actually came from Earth.">
                                    Made from Earth
                                </button>
                                <p></p>
                                <p class="planet-sub">History</p>
                                <p class="planet-paragraph">
                                    The name "Saturn" comes from Ancient Rome. Saturn is the roman god of welath and agriculture, who is also the father of Jupiter. [<a href="https://solarsystem.nasa.gov/planets/saturn/in-depth/">REF</a>]
                                </p>
                                <p><i class="white-txt">Image by: </i><a href="https://solarsystem.nasa.gov/planets/saturn/galleries/?page=1&per_page=25&order=created_at+desc&search=&href_query_params=category%3Dplanets_saturn&button_class=big_more_button&tags=saturn&condition_1=1%3Ais_in_resource_list&category=51">NASA</a></p>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                    <div class="col-lg-5">

                        <div>
                            <img src="~/Images/Planets/sat.jpg" id="sat-img" />
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-lg-6">
                        <p class=" text-center planet-name">Uranus</p>
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-5 white-txt">
                                <p>Average distance from Sun: 1.8 billion miles</p>
                                <p>Radius in miles: 15759.2</p>
                                <p>Radius in km: 25362</p>
                            </div>
                            <div class="col-lg-5 get-right white-txt">
                                <p>Day Length: 17 hours 14 minutes</p>
                                <p>Year Length: 84 Earth years</p>
                                <p>Planet Type: Ice Giant</p>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                <p class="planet-sub">Composition</p>
                                <p class="planet-paragraph">
                                    Uranus is an Ice Giant. It is very cold with winds up to 560 miles per hour. Uranus has a surface that is made of hot and dense fluids such as water, methane, and ammonia.
                                    As for the core, it is rocky and small. Uranus gets its color from all the methane gas that is in the atmosphere and since almost almost all of the planet is fluid, there is no "real" surface.
                                    [<a href="https://solarsystem.nasa.gov/planets/uranus/in-depth/">REF</a>]
                                </p>
                                <p class="planet-sub">Atmosphere</p>
                                <p class="planet-paragraph">
                                    The atmosphere of Uranus ismade up of hydrogen, helium, some methane, and also some water. The atmosphere is cold and could drop to temperatures as low as
                                    -370&#xb0;F. [<a href="https://solarsystem.nasa.gov/planets/uranus/in-depth/">REF</a>]
                                </p>
                                <p class="planet-sub">
                                    Unique Features
                                </p>
                                <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="Uranus has 27 Moons.">
                                    Moons
                                </button>
                                <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="There are 13 rings that orbit around Uranus.">
                                    Rings
                                </button>
                                <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="The tilt of Uranus is 97.7 degrees. It is as if it is rotating on its side.">
                                    Tilt
                                </button>
                                <p></p>
                                <p class="planet-sub">
                                    Fun Facts
                                </p>
                                <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="top" data-content="The element uranium was named after Uranus.">
                                    Elemental
                                </button>
                                <p></p>
                                <p class="planet-sub">History</p>
                                <p class="planet-paragraph">
                                    The name "Uranus" comes from Ancient Greece, being named after the Greek god of the sky. [<a href="https://solarsystem.nasa.gov/planets/uranus/overview/">REF</a>]
                                </p>
                                <p><i class="white-txt">Image by: </i><a href="https://solarsystem.nasa.gov/resources/599/uranus-as-seen-by-nasas-voyager-2/?category=planets_uranus">NASA</a></p>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div>
                            <img src="~/Images/Planets/urn.jpg" class="planet-img" />
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-lg-6">
                        <p class=" text-center planet-name">Neptune</p>
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-5 white-txt">
                                <p>Average distance from Sun: 2.8 billion miles</p>
                                <p>Radius in miles: 15299.4</p>
                                <p>Radius in km: 24622</p>
                            </div>
                            <div class="col-lg-5 get-right white-txt">
                                <p>Day Length: 16 hours</p>
                                <p>Year Length: 165 Earth Days</p>
                                <p>Planet Type: Ice Giant</p>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                <p class="planet-sub">Composition</p>
                                <p class="planet-paragraph">
                                    Neptune is the furthest Ice Giant from our Sun and just like Uranus, Neptune's surface
                                    is made up of hot fluids like water, methane and ammonia as well. With such a fluidity on the surface of Neptune,
                                    there is no possibility of a hard surface.
                                    [<a href="https://solarsystem.nasa.gov/planets/neptune/in-depth/">REF</a>]
                                </p>
                                <p class="planet-sub">Atmosphere</p>
                                <p class="planet-paragraph">
                                    Neptune's atmosphere is also similar it Uranus. Neptune's atmosphere contains mainly hydrogen and helium. [<a href="https://solarsystem.nasa.gov/planets/neptune/overview/">REF</a>]
                                </p>
                                <p class="planet-sub">
                                    Unique Features
                                </p>
                                <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="Neptune has 14 moons with its largest moon being Triton.">
                                    Moons
                                </button>
                                <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="There are 5 confirmed rings that orbit Neptune.">
                                    Rings
                                </button>
                                <p></p>
                                <p class="planet-sub">
                                    Fun Facts
                                </p>
                                <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="top" data-content="Sometimes Neptune is further from the Sun than Pluto.">
                                    Get Close
                                </button>
                                <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="top" data-content="Neptune is the windiest planet in our solar system with winds that exceed 1200 miles per hour.">
                                    Blow Me Away
                                </button>
                                <p></p>
                                <p class="planet-sub">History</p>
                                <p class="planet-paragraph">
                                    Neptune was named after the Ancient Roman god of the sea, Neptune. [<a href="https://solarsystem.nasa.gov/planets/neptune/overview/">REF</a>]
                                </p>
                                <p><i class="white-txt">Image by: </i><a href="https://solarsystem.nasa.gov/resources/936/neptune-from-the-very-large-telescope-vlt/?category=planets_neptune">NASA</a></p>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div>
                            <img src="~/Images/Planets/nep.jpg" class="planet-img" />
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-6">
                            <p class=" text-center dwarf-name">Ceres</p>
                            <div class="row">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-5 white-txt">
                                    <p>Average distance from Sun: 413.7 million km</p>
                                    <p>Diameter: 950 km</p>
                                    <p>Year Length: 4.6 Earth Years</p>
                                </div>
                                <div class="col-lg-5 get-right white-txt">
                                </div>
                                <div class="col-lg-1"></div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-10">
                                    <p class="planet-sub">Composition</p>
                                    <p class="planet-paragraph">
                                        Scientists and researchers have found that Ceres consists of ice, water and minerals.
                                        As for its temperature, Ceres has below freezing temperatures of -157&#xb0;F. [<a href="https://space-facts.com/ceres/">REF</a>]
                                    </p>
                                    <p class="planet-sub">
                                        Unique Features
                                    </p>
                                    <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="Through images of taken from the Hubble telescope, Ceres appreas to have a mysterious white spot.">
                                        Spots
                                    </button>
                                    <p></p>
                                    <p class="planet-sub">
                                        Fun Facts
                                    </p>
                                    <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="top" data-content="Ceres is the only dwarf planet in the inner solar system.">
                                        One of Us
                                    </button>
                                    <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="top" data-content="Ceres is the only dwarf planet with no moons.">
                                        No Partner
                                    </button>
                                    <p></p>
                                    <p class="planet-sub">History</p>
                                    <p class="planet-paragraph">
                                        Ceres was discovered in 1801 by an Italian astronomer name Giuseppe Piazzi.
                                        With the recent advancement in rocket space technology, NASA has been conducting missions
                                        involving Ceres since 1012. [<a href="https://space-facts.com/ceres/">REF</a>]
                                    </p>
                                    <p><i class="white-txt">Image by: </i><a href="https://en.wikipedia.org/wiki/Ceres_(dwarf_planet)#/media/File:Ceres_-_RC3_-_Haulani_Crater_(22381131691)_(cropped).jpg">Wikipedia</a></p>
                                </div>
                                <div class="col-lg-1"></div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div>
                                <img src="~/Images/Planets/cer.jpg" class="planet-img" />
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <p class=" text-center dwarf-name">Pluto</p>
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-5 white-txt">
                                <p>Average distance from Sun: 5.87 bllion km</p>
                                <p>Diameter: 2372 km</p>
                                <p>Year Length: 248 Earth years</p>
                            </div>
                            <div class="col-lg-5 get-right white-txt">
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                <p class="planet-sub">Composition</p>
                                <p class="planet-paragraph">
                                    Scientists have found that Pluto is one-third water. Also, with a distance so far away from the Sun,
                                    Pluto has a surface temperature of -380.2&#xb0;F. [<a href="https://space-facts.com/pluto/">REF</a>]
                                </p>
                                <p class="planet-sub">
                                    Unique Features
                                </p>
                                <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="Pluto has 5 moons; Charon, Hydra, Nix, Kerberos, and Styx.">
                                    Moons
                                </button>
                                <p></p>
                                <p class="planet-sub">
                                    Fun Facts
                                </p>
                                <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="top" data-content="Pluto was once, by planet definition, a planet, but had that title replaced with 'Dwarf Planet'">
                                    Goodbye Old Friend
                                </button>
                                <p></p>
                                <p class="planet-sub">History</p>
                                <p class="planet-paragraph">
                                    Pluto was discovered by Clyde W Tombaugh from the Lowell Observatory in 1930.
                                    Pluto receieved its name after the Ancient Roman god, Pluto, who was the god of the underworld.
                                    Recently in 2015, the spacecraft, New Horizons, has visited Pluto.
                                    [<a href="https://space-facts.com/pluto/">REF</a>]
                                </p>
                                <p><i class="white-txt">Image by: </i><a href="https://solarsystem.nasa.gov/resources/933/true-colors-of-pluto/?category=planets/dwarf-planets_pluto">NASA</a></p>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div>
                            <img src="~/Images/Planets/plu.jpg" class="planet-img" />
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-lg-4">
                        <p class=" text-center dwarf-name">Haumea</p>
                        <br />
                        <img src="~/Images/Planets/hau.jpg" class="img-responsive circle-center" />
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p><i class="white-txt">Image by: </i><a href="https://solarsystem.nasa.gov/planets/dwarf-planets/haumea/in-depth/">NASA</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-5 white-txt">
                                <p>Average distance from Sun: 6.45 billion km</p>
                                <p>Diameter: 1960 - 1518 x 996 km</p>
                            </div>
                            <div class="col-lg-5 get-right white-txt">
                                <p>Day Length: 3.9 Hours</p>
                                <p>Year Length: 283.3 Earth Years</p>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                <p class="planet-sub">Composition</p>
                                <p class="planet-paragraph">
                                    Haumea has a surface temperature of -401.8&#xb0;F. [<a href="https://space-facts.com/haumea/">REF</a>]
                                </p>
                                <p class="planet-sub">
                                    Unique Features
                                </p>
                                <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="Scientists have found that a high concentration of minerals might be causing the dark red spot that they are observing.">
                                    Minerals
                                </button>
                                <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="Haumea has 2 moons; Hi'iaki and Namaka.">
                                    Moons
                                </button>
                                <p></p>
                                <p class="planet-sub">
                                    Fun Facts
                                </p>
                                <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="top" data-content="Haumea is less of a sphere and more of an ellipsoid.">
                                    Is that an Egg?
                                </button>
                                <p></p>
                                <p class="planet-sub">History</p>
                                <p class="planet-paragraph">
                                    Haumea was discovered in 2005 and there is currently a dispute on the group of scientists that have discovered the planet. [<a href="https://space-facts.com/haumea/">REF</a>]
                                </p>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <p class=" text-center dwarf-name">Makemake</p>
                        <br />
                        <img src="~/Images/Planets/make.jpg" class="img-responsive circle-center" />
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p><i class="white-txt">Image by: </i><a href="https://commons.wikimedia.org/wiki/File:Makemake_with_moon.JPG">Wikipedia</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-5 white-txt">
                                <p>Average distance from Sun: 6.85 billion km</p>
                                <p>Diameter: 1434 x 1422 km</p>
                                <p>Year Length: 309.9 Earth years</p>
                            </div>
                            <div class="col-lg-5 get-right white-txt">
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                <p class="planet-sub">Composition</p>
                                <p class="planet-paragraph">
                                    Makemake currently has a surface temperature of -398.2&#xb0;F. [<a href="https://space-facts.com/makemake/">REF</a>]
                                </p>
                                <p class="planet-sub">
                                    Unique Features
                                </p>
                                <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="Makemake has a single moon, MK2.">
                                    Moons
                                </button>
                                <p></p>
                                <p class="planet-sub">
                                    Fun Facts
                                </p>
                                <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="top" data-content="Makemake was named about 3 years after it was discovered.">
                                    Always Late
                                </button>
                                <p></p>
                                <p class="planet-sub">History</p>
                                <p class="planet-paragraph">
                                    Discovered in 2005, makemake received its name after the a god of fertility from Rapa Nui. Makemake also is believed to be the creator of humanity. [<a href="https://space-facts.com/makemake/">REF</a>]
                                </p>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <p class=" text-center dwarf-name">Eris</p>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <img src="~/Images/Planets/eris.png" class="img-responsive circle-center" />
                        <br />
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p><i class="white-txt">Image by: </i><a href="https://solarsystem.nasa.gov/planets/dwarf-planets/eris/in-depth/">NASA</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-5 white-txt">
                                <p>Average distance from Sun: 10.12 billion km</p>
                                <p>Diameter: 2326 km</p>
                                <p>Year Length: 560.9 Earth years</p>
                            </div>
                            <div class="col-lg-5 get-right white-txt">
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                <p class="planet-sub">Composition</p>
                                <p class="planet-paragraph">
                                    Eris has a surface temperature of -383.3&#xb0;F. [<a href="https://space-facts.com/eris/">REF</a>]
                                </p>
                                <p class="planet-sub">Atmosphere</p>
                                <p class="planet-paragraph">

                                </p>
                                <p class="planet-sub">
                                    Unique Features
                                </p>
                                <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="Eris has a single moon named Dysnomia.">
                                    Moons
                                </button>
                                <p></p>
                                <p class="planet-sub">
                                    Fun Facts
                                </p>
                                <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="top" data-content="Everything in the asteroid belt would fit inside of Eris.">
                                    Compacted
                                </button>
                                <p></p>
                                <p class="planet-sub">History</p>
                                <p class="planet-paragraph">
                                    Eris was named after the Ancient Greek goddess of discord after being discovered in 2005. [<a href="https://space-facts.com/eris/">REF</a>]
                                </p>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid black-bkr" id="comparison-row">
    <div class="row text-center">
        <h2 class="text-center mission-sub white-txt">Planet Size Comparison</h2>
        <p class="white-txt">(Rough Comparision - Distance not to scale)</p>
        <br />
        <div class="col-lg-1"></div>
        <div class="col-lg-1 ">
            <div class="circle-center" id="merc-circ"></div>
        </div>
        <div class="col-lg-1 text-center">
            <div class="circle-center" id="ven-circ"></div>
        </div>
        <div class="col-lg-1 text-center">
            <div class="circle-center" id="ert-circ"></div>
        </div>
        <div class="col-lg-1 text-center">
            <div class="circle-center" id="mar-circ"></div>
        </div>
        <div class="col-lg-2 text-center">
            <div class="circle-center" id="jup-circ"></div>
        </div>
        <div class="col-lg-2 text-center">
            <div class="circle-center" id="sat-circ"></div>
        </div>
        <div class="col-lg-1 text-center">
            <div class="circle-center" id="urn-circ"></div>
        </div>
        <div class="col-lg-1 text-center">
            <div class="circle-center" id="nep-circ"></div>
        </div>
        <div class="col-lg-1"></div>
        <div class="clearfix"></div>
    </div>
    <div class="row text-center white-txt">
        <div class="col-lg-1"></div>
        <div class="col-lg-1 ">
            <p>Mercury</p>
        </div>
        <div class="col-lg-1">
            <p>Venus</p>
        </div>
        <div class="col-lg-1">
            <p>Earth</p>
        </div>
        <div class="col-lg-1">
            <p>Mars</p>
        </div>
        <div class="col-lg-2">
            <p>Jupiter</p>
        </div>
        <div class="col-lg-2">
            <p>Saturn</p>
        </div>
        <div class="col-lg-1">
            <p>Uranus</p>
        </div>
        <div class="col-lg-1">
            <p>Neptune</p>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
<div class="container-fluid black-bkr text-center full-fluid" id="orbits-comp">
    <h2 class="mission-sub white-txt">Planet Orbit Comparison</h2>
    <br />
    <img src="~/Images/Planets/orbits.jpg" class="img-responsive" id="orbits-img" />
</div>


<br />
<br />
<br />

<h1 style="color: white; text-align: center">User Comments</h1>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="container information-paragraphs dark-bkr" style="border: 1px solid white; width: 50%">
            <div id="usernameDateBox">
                <p>@item.Username || @item.PostDate.ToShortDateString()</p>
            </div>

            <div id="userCommentBox">
                <p>@item.Comment</p>
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                <img src="https://i.ytimg.com/vi/0UfhaE3CMHM/hqdefault.jpg" style="width: 24px; height: 18px;" />
                @Html.ActionLink("Report", "ReportComment", new { id = item.Id, returnURL = "Our_Planets" })
                <img src="https://i.ytimg.com/vi/0UfhaE3CMHM/hqdefault.jpg" style="width: 24px; height: 18px;" />
            }
        </div>
        <br />
    }
}

<br />
<br />
<br />

@if (User.Identity.IsAuthenticated)
{
    <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
        <form>
            <label for="commentBox" style="color: white">Type your comment. (1000 character limit)</label><br />
            <textarea id="commentBox" maxlength="1000" style=" width: 100%; height: 150px; padding: 12px 20px; box-sizing: border-box; border: 2px solid #ccc; border-radius: 4px; background-color: #f8f8f8; font-size: 16px; resize: none;"></textarea>

            <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
                <button type="button" onclick="submitComment('@ViewBag.URL')">Submit Your Comment</button>
            </div>
        </form>
    </div>


}
else
{
    <div class="information-paragraphs dark-bkr" style="margin-left: 30%; width: 40%; text-align: center">
        <h2>Please @Html.ActionLink("log in", "Login", "Account") to post a comment!</h2>
    </div>
}

@section scripts{
    <script src="~/Scripts/planets-js.js"></script>
    <script src="~/Scripts/main.js"></script>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

$(document).ready(function(){

    var hash = location.hash.substring(1);

    console.log(parseInt(hash));

    if (hash == "") { hash = "0"; }

    var hashNum = parseInt(hash);

    if (hashNum) { hashNum = 0; }

    if ($.isNumeric(hashNum) == false) { hashNum = 0; }

    if (hashNum < 0) { hashNum = 0; }

    if (hashNum > 8) { hashNum = 8; }

    $('#planets-carousel').carousel(hashNum);

});



</script>