@model IEnumerable<Astronomical_Learning.Models.UserComment>

@{
    ViewBag.Title = "Sun_Information";
}

<head>
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<div class="container information-paragraphs dark-bkr">


    <div style="text-align: center;"><h2>The Sun</h2></div>

    <div class="row">
        <div class="col-lg-5">
            <div>
                <h3>Why is it called The Sun?</h3>
                The Sun is the name of the star that is in the center of our solar system.  
                Its name comes from the old english sonne which comes from the German word Sonne. [<a href="https://www.dictionary.com/browse/sun">REF</a>]
                Other names include the Greek Helios and the Latin Sol. [<a href="https://www.dictionary.com/browse/sun">REF</a>]
            </div>

            <div>
                <h3>How was The Sun created?</h3>
                The Sun was formed about 4.5 billion years ago after gravity had compressed particles of gas and dust together under the force of gravity. [<a href="https://www.space.com/19321-sun-formation.html">REF</a>]
                The mass of particles eventually started to spin an flatten out creating a protostar. [<a href="https://www.space.com/19321-sun-formation.html">REF</a>]
                Eventually this formed into what we know as The Sun.
            </div>

            <div>
                <h3>How far away is The Sun?</h3>
                The Sun on average is 150 million kilometres (93 million miles) away from earth. [<a href="https://www.nasa.gov/audience/foreducators/k-4/features/F_Measuring_the_Distance_Student_Pages.html">REF</a>]
                <div class="tooltipNew">
                    [*]
                    <span class="tooltiptextNew">
                        This is equal to 1 astronomical unit or AU which is commonly used as a measurement of distance for objects in space. [<a href="https://www.nasa.gov/audience/foreducators/k-4/features/F_Measuring_the_Distance_Student_Pages.html">REF</a>]
                    </span>
                </div>

            </div>

        </div>

        <div class="col-lg-7">
            <div style="align-content:center;">
                <img style="width:400px; height:400px" src="https://upload.wikimedia.org/wikipedia/commons/b/b4/The_Sun_by_the_Atmospheric_Imaging_Assembly_of_NASA%27s_Solar_Dynamics_Observatory_-_20100819.jpg" /><br>
                An image of the sun. <a href="https://sdo.gsfc.nasa.gov/assets/img/browse/2010/08/19/20100819_003221_4096_0304.jpg">Source</a>
            </div>


        </div>

    </div>






    <div>
        <div>

            <div>
                <h3>How big is The Sun?</h3>
                The sun is about 864,938 miles (1.392 million km) wide. This is over 100 times bigger than the width of the earth. [<a href="https://www.space.com/17001-how-big-is-the-sun-size-of-the-sun.html">REF</a>]
                The total volume of the sun is 1.4 x 10^27cubic meters. This means that the sun could fit about 1.3 million Earths inside it. [<a href="https://www.space.com/17001-how-big-is-the-sun-size-of-the-sun.html">REF</a>]
                The mass of the sun is 1.989 x 10^30 kilograms which is about 333,000 times larger than Earth’s mass. [<a href="https://www.space.com/17001-how-big-is-the-sun-size-of-the-sun.html">REF</a>]
                <span class="tooltipNew">
                    [*]<br>
                    <span class="tooltiptextNew">
                        This means that The Sun on its own accounts for 99.86% of the total mass in the Solar System. [<a href="https://theplanets.org/the-sun/">REF</a>]
                    </span>
                </span><br>

                Below is an image that gives a decent idea of the scale of the distance between the Sun and Earth and how their sizes compare. <a href="https://commons.wikimedia.org/wiki/File:Solar-system.png">Source</a><br><br>


            </div>
        </div>


        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Solar-system.png/1024px-Solar-system.png" alt="Alternate Text" /><br>

        </div>
    </div>


    <div class="row" style="height:50px;"></div>

    <div class="row">
        <div class="col-lg-5">
            <div>
                <h3>What makes up The Sun?</h3>
                The Sun is mostly composed of helium and hydrogen at temperatures up to 27 million degrees Fahrenheit (15 million degrees Celsius). [<a href="https://solarsystem.nasa.gov/solar-system/sun/in-depth/">REF</a>]
                The inner layers of the sun are the core, followed by the radiative zone, and the convection zone. [<a href="https://www.worldatlas.com/articles/layers-of-the-sun-important-and-unique-facts.html">REF</a>]
                The outer layers of the Sun start with the photosphere as the innermost layer followed by the chromosphere, transition region, and then the outermost corona. [<a href="https://www.worldatlas.com/articles/layers-of-the-sun-important-and-unique-facts.html">REF</a>]
            </div>

            <div>
                <h3>Why is The Sun important?</h3>
                The Sun itself is very important to life on Earth as it is the way that Earth is warmed which would make life impossible without it.
                It is also an important part for plants on earth that need the energy from the Sun for photosynthesis.
                The gravity of the Sun also keeps our planet in our solar system without it we would go flying into who knows where.
            </div>

            <br>
            <img style="width:90%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Magnificent_CME_Erupts_on_the_Sun_-_August_31.jpg/800px-Magnificent_CME_Erupts_on_the_Sun_-_August_31.jpg">
            <br> An image of a Solar Flare. <a href="https://commons.wikimedia.org/wiki/File:Solar_wind.jpg">Source</a>



        </div>



        <div class="col-lg-7">
            <div style="align-content:center; background:black;">
                <img style="width:100%; height:100%" src="https://www.nasa.gov/sites/default/files/images/655928main_solar-anatomy-MOS-orig_full.jpg" alt="Alternate Text" />
                <br>
                A diagram showing The Sun's layers with basic information about each one. <a href="https://sdo.gsfc.nasa.gov/assets/img/browse/2010/08/19/20100819_003221_4096_0304.jpg">Source</a>
            </div>

        </div>
    </div>


    <div class="row" style="height:50px;"> </div>

    <div>
        <h3>What are Solar Winds and Solar Flares?</h3>
        The Sun produces solar winds which can reach speeds of up to 500 miles (800 kilometers) per second.
        The material the winds carry large amounts of radiation towards the earth which would cause extreme damage, but the Earth is protected from this radiation due to the Earth's magnetosphere. [<a href="https://www.space.com/22215-solar-wind.html">REF</a>]
        Another thing the Sun can do is called a solar flare which is a burst of energy from the Sun’s surface. [<a href="https://www.space.com/22215-solar-wind.html">REF</a>]
        These can cause events on earth such as auroras but can also cause problems with radio communication and power outages. [<a href="https://spaceplace.nasa.gov/solar-activity/en/">REF</a>]
        Below is an image showing Earth's magnetoshpere protecting us from solar radiation. <a href="https://commons.wikimedia.org/wiki/File:Magnificent_CME_Erupts_on_the_Sun_-_August_31.jpg">Source</a>
    </div>

    <div class="row">


        <img style="display: block; margin-left: auto; margin-right: auto;" src="https://upload.wikimedia.org/wikipedia/commons/3/34/Solar_wind.jpg" alt="Alternate Text" />


    </div>
    <div>

        <h3>What are Solar Eclipses?</h3>
        The Sun will also periodically have a solar eclipse which happens when the moon gets between the Earth and the Sun which casts a shadow on the Earth. [<a href="https://www.space.com/15584-solar-eclipses.html">REF</a>]
        Solar eclipses come in one of four forms being either total, annular, partial, and hybrid each having a different amount of the sun being blocked. [<a href="https://www.space.com/15584-solar-eclipses.html">REF</a>]
        The image below shows a diagram of a solar eclipse. <a href="https://commons.wikimedia.org/wiki/File:Solar_eclipse.png">Source</a><br>

        <div class="tooltipNew">

            Important!!!
            <span class="tooltiptextNew">
                It is important to remeber that even though some of the Sun is blocked it does not mean that it is safe to look at it without protection. [<a href="https://www.space.com/15584-solar-eclipses.html">REF</a>]
            </span>
        </div>





        <div>
            <img style="display: block; margin-left: auto; margin-right: auto;" src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Solar_eclipse.png" alt="A diagram of a solar eclipse." />
        </div>


    </div>

        <div style="width:50%; height:500px" class="container">
            <div id="sunCarousel" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li data-target="#sunCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#sunCarousel" data-slide-to="1"></li>
                    <li data-target="#sunCarousel" data-slide-to="2"></li>
                    <li data-target="#sunCarousel" data-slide-to="3"></li>
                </ol>


                <div class="carousel-inner">
                    <div class="item active">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Total_Solar_Eclipse_2017_-_Corona_and_Earthlight_%2836450742744%29.jpg/1024px-Total_Solar_Eclipse_2017_-_Corona_and_Earthlight_%2836450742744%29.jpg" alt="Total Solar Eclipse" style="height:400px; width:100%;">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Total Solar Eclipse</h3>
                        </div>
                    </div>

                    <div class="item">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Annular_Solar_Eclipse_in_Jaffna_-_26_December_2019_%281%29.jpg/1024px-Annular_Solar_Eclipse_in_Jaffna_-_26_December_2019_%281%29.jpg" alt="Annual Solar Eclipse" style="height:400px; width:100%;">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Annular Solar Eclipse</h3>
                        </div>
                    </div>

                    <div class="item">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Partial_Solar_Eclipse_2017.jpg/1024px-Partial_Solar_Eclipse_2017.jpg" alt="Annual Solar Eclipse" style="height:400px; width:100%;">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Partial Solar Eclipse</h3>
                        </div>
                    </div>

                    <div class="item">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/0/0f/D.C._eclipsed_in_hybrid_solar_event_%2810696089826%29.jpg" alt="Hybrid Solar Eclipse" style="height:400px; width:100%;">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Hybrid Solar Eclipse</h3>

                        </div>
                    </div>
                </div> <!--carousel inner-->

                <a class="left carousel-control" href="#sunCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#sunCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>


            </div> <!--sun carousel -->


        </div> <!--div containing the carousel-->


        <button class="btn-primary" onclick="sunShowImageSources()">Click to Show Image Sources</button>
        <div id="sunSources" style="display:none;">

            Total Solar Eclipse: <a href="https://commons.wikimedia.org/wiki/File:Total_Solar_Eclipse_2017_-_Corona_and_Earthlight_(36450742744).jpg">source</a>,
            Annular Solar Eclipse: <a href="https://commons.wikimedia.org/wiki/File:Annular_Solar_Eclipse_in_Jaffna_-_26_December_2019_(1).jpg">source</a>,
            Partial Solar Eclipse: <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Partial_Solar_Eclipse_2017.jpg/1024px-Partial_Solar_Eclipse_2017.jpg">source</a>,
            Hybrid Solar Eclipse: <a href="https://commons.wikimedia.org/wiki/File:D.C._eclipsed_in_hybrid_solar_event_(10696089826).jpg">source</a>
        </div>



        <div>
            <h3>Other Facts</h3>
            Click on a topic below to learn more about it.

            <div class="row" style="height:20px;">

            </div>

            <div class="row">

                <div class="col-lg-3">

                    <div class="infoItem"><button class="btn-primary" onclick="changeFactInfoCenter()">Center of the Universe</button></div>
                    <div class="infoItem"><button class="btn-primary" onclick="changeFactInfoDial()">Sun Dial</button></div>
                    <div class="infoItem"><button class="btn-primary" onclick="changeFactInfoReligion()">Religous Uses</button></div>

                </div>


                <div class="col-lg-7">
                    <div>
                        <img style="height:50%;width:50%; display: block; margin-left: auto; margin-right: auto;" id="sunFactImage" src="https://upload.wikimedia.org/wikipedia/commons/2/28/Copernican_heliocentrism_diagram-2.jpg" alt="Alternate Text" />
                    </div>

                    <div id="sunFactSource">
                        <a href="https://commons.wikimedia.org/wiki/File:Copernican_heliocentrism_diagram-2.jpg">Source</a>
                    </div>

                    <div id="sunFactText">
                        For a long time up until the 16th century it was widely regarded that Earth was the center of the Solar System until the Polish astronomer Nicolai Copernicus wrote a model that described why the Sun must be the center of our Solar System. [<a href="https://www.pas.rochester.edu/~blackman/ast104/copernican9.html">REF</a>]<br>
                    </div>


                </div>
            </div>
        </div>
    </div>

<br />
<br />
<br />

<h1 style="color: white; text-align: center">User Comments</h1>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="container information-paragraphs dark-bkr" style="border: 1px solid white; width: 50%">
            <div id="usernameDateBox">
                <p>@item.Username || @item.PostDate.ToShortDateString()</p>
            </div>

            <div id="userCommentBox">
                <p>@item.Comment</p>
            </div>

        @if (User.Identity.IsAuthenticated)
        {
            <img src="https://i.ytimg.com/vi/0UfhaE3CMHM/hqdefault.jpg" style="width: 24px; height: 18px;" />
            @Html.ActionLink("Report", "ReportComment", new { id = item.Id, returnURL = "Sun_Information" })
            <img src="https://i.ytimg.com/vi/0UfhaE3CMHM/hqdefault.jpg" style="width: 24px; height: 18px;" />
        }
        </div>
        <br />
    }
}

<br />
<br />
<br />

@if (User.Identity.IsAuthenticated){
    <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
        <form>
            <label for="commentBox" style="color: white">Type your comment. (1000 character limit)</label><br />
            <textarea id="commentBox" maxlength="1000" style=" width: 100%; height: 150px; padding: 12px 20px; box-sizing: border-box; border: 2px solid #ccc; border-radius: 4px; background-color: #f8f8f8; font-size: 16px; resize: none;"></textarea>
        
            <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
                <button type="button" onclick="submitComment('@ViewBag.URL')">Submit Your Comment</button>
            </div>
        </form>
    </div>

    
}
else
{
    <div class="information-paragraphs dark-bkr" style="margin-left: 30%; width: 40%; text-align: center">
        <h2>Please @Html.ActionLink("log in", "Login", "Account" ) to post a comment!</h2>
    </div>
}



<script src="~/Scripts/main.js">
</script>
